@import "tailwindcss";

.root { color-scheme: dark light; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-light {
    --card-pink: #f6c2d9;
    --cars-yellow: #fff69b;
    --card-green: #bcdfc9;
    --card-blue: #a1c8e9;
    --card-gray: #e4dae2;
    background-color: moccasin;
    color: black;
}