@import "tailwindcss";

.root { color-scheme: dark light; }

.theme-light {
    --card-pink: #f6c2d9;
    --cars-yellow: #fff69b;
    --card-green: #bcdfc9;
    --card-blue: #a1c8e9;
    --card-gray: #e4dae2;
    background-color: moccasin;
    color: black;
}

.card {
    @apply rounded-md border-2 shadow min-h-64
}

.yellow-style {
    @apply  border-amber-300 bg-amber-200
}