<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Tareas</title>
    </head>
    <body>
        <section class="grid grid-cols-3 w-full">
            <div class="sidebar" hidden >barra lateral</div>
            <div class="h-full">espacio a la izquierda</div>
            <div class="h-full">
                <section class="flex flex-col flex-nowrap">
                    <div class="flex-1 h-1/5">tarea 1</div>
                    <div class="flex-1 h-1/5">tarea 2</div>
                    <div class="flex-1 h-1/5">tarea 3</div>
                    <div class="flex-1 h-1/5">tarea 4</div>
                    <div class="flex-1 h-1/5">tarea 5</div>
                </section>
            </div>
            <div class="h-full">espacio a la derecha</div>
        </section>
    </body>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link rel="stylesheet" type="text/css" href="/style/estilos.css">
    <link rel="stylesheet" type="text/css" href="/style/tailwind.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</html>