<form id="form" name="create_task_form">
    <div class="gird">
        <label for="titulo"></label>
        <input type="text" name="titulo" id="titulo">
        <label for="descripcion"></label>
        <input type="text" name="descripcion" id="descripcion">
        <label for="detalles"></label>
        <input type="text" name="detalles" id="detalles">
        <label for="fecha_limite"></label>
        <input type="text" name="fecha_limite" id="fecha_limite">
        <button type="reset">Limpiar</button>
        <button type="submit">Crear</button>
    </div>
</form>