<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Tareas</title>
    </head>
    <body>
        <section class="body-layout">
            <div class="sidebar">barra lateral</div>
            <div class="body-left">espacio a la izquierda</div>
            <div class="body-middle">
                <section class="list-layout">
                    <div>tarea 1</div>
                    <div>tarea 2</div>
                    <div>tarea 3</div>
                    <div>tarea 4</div>
                    <div>tarea 5</div>
                </section>
            </div>
            <div class="body-right">espacio a la derecha</div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</html>